.python-terminal {
  float: left;
  height: 30px;
  padding: 5px 0;
  font-size: 18px;
  line-height: 20px;
}

.python-terminal::after {
  content: "";
  display: inline-block;
  background-color: #00ff00;
  vertical-align: top;
  width: 10px;
  height: 20px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.logo img {
    max-height: 40%;
    max-width: 40%;
    margin: 0 auto;
    /* background-color: powderblue; */
}

.event-title {
  font-size: 36px;
  font-family: 'Concert One', cursive;
}

div.background {
  background-image: url("../img/berrine.png");
  border: 0px solid transparent;
  max-width: 1080px;
}

div.transbox {
  margin: 0px;
  background-color: #ffffff;
  border: 1px solid transparent;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  max-width: 1080px;
}

div.transbox p {
  margin: 1%;
  font-weight: bold;
  color: #000000;
  font-size: xx-large;
}

.google-maps iframe {
  height: 120px;
  max-width: 1080px;
  width: 100%;
  frameborder: 0;
  border: 0;
}

.tickets {
  max-width: 100%;
  text-align: left;
}

p {
  margin: auto 30px auto 30px;
}
