{% extends "layout.html" %}
{% block content %}
    <header>
      <div class="container">
        {% if config.THEME_SETTINGS.profilepicture %}
        <div class="row">
          <div class="col-xs-10 col-md-6 col-centered logo">
            <img alt="profile-picture" class="img-responsive" src="{{ config.THEME_SETTINGS.profilepicture | asseturl }}">
          </div>
        </div>
        {% endif %}
        <div class="row">
          <div class="col-xs-10 col-sm-8 col-md-6 col-centered event-title text-center">
            <h1 id="event-title">{{ config.THEME_SETTINGS.name | upper }}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-10 col-sm-8 col-md-6 col-centered">
            <p class="text-center">{{ config.THEME_SETTINGS.about }}</p>
          </div>
        </div>
      </div>
    </header>

    <h1 class="text-center">Grade do Evento:</h1>
    <div class="row">
      <div class="col-xs-10 col-sm-8 col-md-6 col-centered">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Horário:</th>
              <th>Palestrante:</th>
              <th>Palestra:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>08:30</td>
              <td><i class="fa fa-coffee" aria-hidden="true"></i></td>
              <td><strong>Coffee break</strong></td>
            </tr>
            <tr>
              <td>09:30</td>
              <td>Juan Funez</td>
              <td>CDC</td>
            </tr>
            <tr>
              <td>09:40</td>
              <td>Danilo Martins</td>
              <td>Pequenos truques e bizarrices no Python</td>
            </tr>
            <tr>
              <td>10:10</td>
              <td>Rafael Henrique</td>
              <td>Como detectar vagas "não boas" com Python?</td>
            </tr>
            <tr>
              <td>10:40</td>
              <td>Ingrid Sena</td>
              <td>E-mails em massa com Python</td>
            </tr>
            <tr>
              <td>11:10</td>
              <td>Emanuel Lima</td>
              <td>Pickle: Serializando objetos Python</td>
            </tr>
            <tr>
              <td>11:40</td>
              <td><i class="fa fa-cutlery" aria-hidden="true"></i></td>
              <td><strong>Almoço</strong></td>
            </tr>
            <tr>
              <td>14:00</td>
              <td>Renzo Nuccitelli</td>
              <td>Combinação Explosiva: Entrevista Técnica e Just Python (Doctest)</td>
            </tr>
            <tr>
              <td>14:30</td>
              <td>Osvaldo Santana</td>
              <td>Just Python Subversive Edition</td>
            </tr>
            <tr>
              <td>15:10</td>
              <td>Eduardo Mendes</td>
              <td>Porque meus testes não são bons?</td>
            </tr>
            <tr>
              <td>15:50</td>
              <td><i class="fa fa-camera-retro" aria-hidden="true"></i></td>
              <td><strong>FOTO OFICIAL</strong></td>
            </tr>
            <tr>
              <td>16:00</td>
              <td><i class="fa fa-coffee" aria-hidden="true"></i></td>
              <td><strong>Coffee break</strong></td>
            </tr>
            <tr>
              <td>16:30</td>
              <td><i class="fa fa-bolt" aria-hidden="true"></i></td>
              <td>
                <a href="https://pt.wikipedia.org/wiki/Lightning_talk">
                  <em>Lightning talks</em>
                </a>
              </td>
            </tr>
            <tr>
              <td>17:00</td>
              <td>Paty Mori</td>
              <td><strong>Keynote</strong></td>
            </tr>
            <tr>
              <td>18:00</td>
              <td><i class="fa fa-beer" aria-hidden="true"></i></td>
              <td>Just Bar?</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <br/>
    <h1 class="text-center" id="talks">Proposta do evento</h1>
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">
          Atualmente, a maioria dos eventos de Python são sobre muitas coisas: estruturas, aplicativos e comunidade.
          É muito positivo atender às necessidades da indústria e da comunidade.
          Mas às vezes sentimos falta do python, puro Python.
          Nossa intenção é fazer uma conferência apenas de Python!<br/><br/>
          Conheça a fundo nossa proposta de eventos <strong style="font-family: 'Concert One', cursive;">JUST PYTHON</strong> através do nosso <a href="/manifesto"><strong>Manifesto JUST PYTHON</strong></a>
        </p>
      </div>
    </div>

    <h1 class="text-center" id="talks">Codigo de conduta</h1>
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">
          Para termos um ambiente amistoso, de boa convivência, inclusivo e livre de intimidação, onde todas as pessoas são bem-vindas. Civilidade é exigida!
          Definimos um <a href="/cdc"><strong>Código de Conduta</strong></a>, baseado no Código de Conduta do Evento Python Brasil.
          Leia-o atentamente e respeite as regras de boa convivência, para termos um evento maravilhoso e proveitoso a todos.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 user-social text-center">
        <h1 class="text-center">Redes sociais</h1>
        {% include "partials/social.html" %}
      </div>
    </div>
{% endblock content %}
